<body>

  <div class="container">
    <div class="row">
      <div class="col-9">
      </div>
      <div class="col-3">
        <button (click)="logout()" class="btn btn-warning my-2 btn-block">Logout</button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="name">Hello {{user}}</h1>
        <p>Welcome to Send Me A Song; This automated spotify playlist creator makes it easier for you to find new music
          that you will actually like. Simply generator a form and get your friends to add their current favourite
          songs. Once they submit, you can browse through the various playlist options and add the ones that interest
          you. Once in your ultimate playlist, we'll automate the add to your smas playlist making finding new music
          simplier
          than ever.
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <h1>To start </h1>
    <div class="row">
      <div class="col-4">
        1)
        <a
          href="https://accounts.spotify.com/authorize?client_id=167e0bdc51a241c9a1c781b0f8c3df7f&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2Fhome&scope=user-read-private%20playlist-modify-public%20playlist-modify-private%20playlist-read-private%20user-read-email&state=34fFs29kd09">
          Connect to spotify</a>
      </div>
      <div class="col-4">
        2) <button (click)="createSpotify()" class="btn btn-success">Create Playlist</button>
      </div>
      <div class="col-4">
        3) <button (click)="genForm()" class="btn btn-warning">Send Generated form</button>
      </div>
    </div>
  </div>

  <div class="container" id="friendsPlaylist">
    <div class=" row">
      <div class="col-6">
        <div *ngIf="friendsPlaylist.length> 0">
          <h3>Friends Playlist</h3>
          <li *ngFor="let friendPlaylist of friendsPlaylist" (click)="openUser(friendPlaylist)">
            {{friendPlaylist.name}}
            <button class="button" (click)="addSongs(friendPlaylist.songs)" mat-raised-button>Add</button>
          </li>
        </div>

        <div *ngIf="friendsPlaylist.length == 0">
          <p>You currently have no friends playlist</p>
        </div>

      </div>


    </div>
  </div>

</body>
