.deleteButton {
  width: 10px;
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  padding: 0 0;
  margin: 5px;
  min-width: 20px !important;
  background-color: #ff726f;
}

.inline {
  display: inline !important;
}

.edit {
  width: 30px;
  height: 30px;
  line-height: 20px;
  font-size: 12px;
  padding: 0 0;
  margin: 8px;
  min-width: 20px !important;
  background-color: #ff726f;
}

.container {
  width: 1000px;
  height: 800px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;

  margin: auto;
}

// body {
//   position: relative;
//   background: url(../../assets/stary.jpg) no-repeat center fixed;
//   background-size: cover;

// }
