<div class="container">
  <!--fail login message -->
  <div *ngIf="!success && validMessage" #alert class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
      <span aria-hidden="true">&times;</span>
    </button>
    <p>{{validMessage}}</p>
  </div>
  <!--Form login -->
  <form class="text-center border border-light p-5" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">

    <p class="h4 mb-4">Sign in</p>

    <!-- Email -->
    <div class="form-group">
      <input formControlName="email" type="text" id="defaultLoginFormEmail" class="form-control mb-4"
        placeholder="E-mail">
      <div *ngIf="submitted && f.email.invalid" class="alert alert-danger">
        <div *ngIf="f.email.errors.required">
          Please enter an Email
        </div>
        <div *ngIf="f.email.errors.email">
          Please enter a valid Email address
        </div>
      </div>
    </div>

    <!-- Password -->
    <input formControlName="password" required type="password" id="defaultLoginFormPassword" class="form-control mb-4"
      placeholder="Password">
    <div *ngIf="submitted && f.password.invalid" class="alert alert-danger">
      <div *ngIf="f.password.errors.required">
        Please enter a password
      </div>
    </div>

    <div class="d-flex justify-content-around">
      <div>
        <!-- Remember me -->
        <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
      </div>
      <div>
        <!-- Forgot password -->
        <a href="">Forgot password?</a>
      </div>
    </div>

    <!-- Sign in button -->
    <button mdbBtn color="info" block="true" class="my-4" type="submit">Sign in</button>

    <!-- Register -->
    <p>Not a member?
      <a href="">Register</a>
    </p>

    <!-- Social login -->
    <p>or sign in with:</p>

    <a type="button" class="light-blue-text mx-2">
      <mdb-icon fab icon="facebook"></mdb-icon>
    </a>
    <a type="button" class="light-blue-text mx-2">
      <mdb-icon fab icon="twitter"></mdb-icon>
    </a>
    <a type="button" class="light-blue-text mx-2">
      <mdb-icon fab icon="linkedin"></mdb-icon>
    </a>
    <a type="button" class="light-blue-text mx-2">
      <mdb-icon fab icon="github"></mdb-icon>
    </a>

  </form>
  <!-- Default form login -->
</div>
